* {
  box-sizing: border-box;
}
body {
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  display: flex;
  /* align-content: stretch; */
  width: 100%;
  min-height: 100%;
  color: white;
}

/* SIDEBAR SECION START */
.sidebar {
  /* background-color: brown; */
  border-right: 0.1px solid rgb(76, 76, 76);
  /* width: 245px; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  position: fixed;
  flex-grow: 1;
  flex-basis: auto;
}
/* for when on large device */
.sidebar-when-large {
  /*  width of window 1250px+ */
  width: 230px;
}
/* for when on small device */
.sidebar-when-small {
  /*  width of window 1250px+ */
  width: 100px;
}

#logo {
  /* padding-top: 10%; */
  /* height: 10%; */
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5%;
  /* background-color: aquamarine; */
  flex-grow: 1;

  /* width: 220px; */
  /* height: 92px; */
}
.logo-letter-visible {
  fill: white;
  color: white;
  stroke: 1px white;
}
.logo-letter-hidden {
  fill: none;
  color: none !important;
  stroke: 0px transparent !important;
}

#main-nav {
  /* background-color: rgb(255, 0, 221); */
  /* width: 220px; TEMPORARY */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  flex-grow: 4;
}

#upper-nav {
  /* background-color: rgb(188, 236, 16); */
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.5%;
  /* width: 220px; */
  flex-grow: 6;
}
.menuitem {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5%;
  /* width: 220px; */
  height: 8%;
  /* border: 3px solid rgb(12, 46, 240); */
}
#profile-button-image-container {
  border: 1px solid white;
  border-radius: 50%;
  height: 24px;
  width: 24px;
}
#profile-button-image {
  width: 100%;
  border-radius: 50%;
}

#lower-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* gap: 10%; */
  flex-grow: 1;
  /* margin-top: 20%; */
  /* background-color: blueviolet; */
  padding-top: 10%;
  padding-bottom: 10%;
  width: 80%;
}
/* SIDEBAR SECION END */

/* MAIN CONTENT SECION START */
.main-group {
  min-height: 100vh;
  width: 100%;
  padding-top: 20px;
  margin-left: 20%;
  /* background-color: bisque; */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 3;
  flex-basis: auto;
}

/* for when on big device */
.main-when-large {
  margin-left: 230px;
}
/* for when on small device */
.main-when-small {
  margin-left: 100px;
}

/* HEADER */
.profile-info-container {
  /* background-color: aqua; */
  max-width: 77%;
  min-width: min-content;
  display: flex;
  flex-direction: row;
  margin-bottom: 44px;
  /* justify-content: center; */
}
#profile-header-navigation {
  height: 172px;
  /* background-color: yellow; */
  /* border: solid yellow; */
  min-width: fit-content;
  width: 400px;
}

#profile-header-navigation ul:first-child {
  margin-bottom: 20px;
}

#row {
  display: flex;
  justify-content: space-evenly;
}
#column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#row li {
  /* temporary */
  /* margin: 1%; */
  list-style: none;
}
#row h2 {
  padding: 0%;
  margin: 0%;
}
#edit-profile-button {
  background-color: rgba(255, 255, 255, 0.19);
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

#column li {
  color: white;
  list-style: none;
}
#profile-picture {
  display: flex;
  justify-content: center;
  /* background-color: grey; */
  width: 292px;
  height: 172px;
}
#profile-picture img {
  image-rendering: crisp-edges;
}

/* HEADER END */

/* NAV */
.main-navigation {
  height: 52px;
  width: 930px;
  /* background-color: rgb(14, 228, 29); */
  /* margin-bottom: 20px; */
  border-top: 0.5px solid rgb(76, 76, 76);
  border-bottom: none;
  border-left: none;
  border-right: none;
}
#nav-on-main {
  display: flex;
  justify-content: center;
  /* background-color: blue; */
  height: 100%;
}
#nav-on-main span,
#nav-on-main div {
  width: 60px;
  color: rgb(168, 168, 168);
}
#nav-on-main a {
  /* background-color: rgb(168, 168, 168); */
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  padding-top: 20px;
  text-align: center;
}

#nav-on-main a div,
svg {
  color: rgb(168, 168, 168);
}
.main-nav-clicked-border {
  border-top: 2px solid white !important;
}
.main-nav-clicked-content {
  color: white !important;
  stroke: white !important;
  fill: white !important;
}
/* NAV END */

/* PHOTO SECTION */
#content-holder {
  /* background-color: red; */
  display: flex;
  justify-self: center;
  justify-content: center;
  /* background-color: blueviolet; */
}

.main-image-content {
  /* background-color: yellow; */
  max-width: 960px;
  min-width: min-content;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.image-container {
  height: 310px;
  width: 310px;
  margin: 0;
  padding: 0;
  margin: 0.3rem;
  display: flex;
  /* color: #fff; */
  /* border: solid white 1px; */
  display: flex;
  align-content: stretch;
}
/* PHOTO SECTION END*/

/* MAIN CONTENT SECION END */
